*{
  padding:0;
  margin:0;
}

:root {
  --main-color: #000;
  --text-color:#fff
}
/* navbar part */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #333; 
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); */

  box-shadow: inset 0 -10px 5px rgba(255, 255, 255, 0.5);
  
}

.profile {
  
  background-color: #3498db; 
  clip-path: circle(50%); 
}
/* home section */
.home{
   flex: 1;
   /* background-color: var(--main-color); */
  background-color: #1A1A1A;
  background-color: rgba(26, 26, 26, 0.8);
  color: #FFFFFF;
  /* Accent Color: #FFD700; */
  /* color:#bbb; */
  
}

.name{
  font-weight:500;
}
.thick-line{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  width:70px;
  height:5px;
}
.Social {
  text-align: center;
  /* margin-top: 20px; */
}

.Social a {
  color: #3498db;
  font-size: 24px;
  margin: 10px;
  text-decoration: none;
}

.Social a:hover {
  color: #207CE5;
}
/*  about part*/
.about{
  background-color: var(--main-color);
  /* margin-top:40px; */
  color:var(--text-color);
}
.intro_about{
  line-height:2rem;
}

.button_cv , .skill-button {
  margin-bottom:10px;
  background-color:var(--text-color);
  color: var(--main-color);
  padding: 5px 10px;
  border: none;
  margin-right:10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.button_cv a{
   color: var(--main-color);
  list-style:none;
  text-decoration:none;
}
.button_cv:hover {
  animation: glow 0.5s ease infinite alternate;
  transform: scaleX(1.1);
}
/* skill */
.skill, form{
  background-color:#f5f5f5;
  border:1px solid #ccc;
  border-radius:5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px -4px 10px rgba(255, 255, 255, 0.2);

   /* box-shadow: 2px -10px 5px rgba(0, 0, 0, 0.3); */
}

.Type{
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
 /* padding:5px 0; */
  bottom: 0px;
  background-color: #333333;
  color: var(--text-color);
  
}


/*  contact part*/
.contact{
  Background: #1E1E1E;
  color: #FFFFFF;
  /* Accent Color: #FF5733; */
}
/* .heading_contact{
  
} */
.prjct{
  /* Background: #1E1E1E; */
  background-color: rgba(30, 30, 30, 0.9);
  color: #FFFFFF;
  /* Accent Color: #FF5733; */
  /* margin-left:30px; */
}
.about_prjct{
  text-align:justify;
}
.img_prjct img {
  margin-top:30px;
}
.img-container {
  clip-path: circle(50%);
  margin-top: 30px;
  background-color: #3498db;
  width:400px;
    height:400px;
}

/* Styles for mobile devices (up to 767px) */
@media (max-width: 767px) {
  .img-container {
    width:400px;
    height:400px;
    /* Any styles specific to mobile devices */
  }
}

/* Styles for laptops and larger devices (768px and above) */
@media (min-width: 768px) {
  .img-container {
    width:400px;
    height:400px;
    /* Any styles specific to laptops and larger devices */
  }
}

.footer {
  position: sticky;
  bottom: 0;
  box-shadow: inset 0 -10px 20px rgba(255, 255, 255, 0.5);
  /* background-color: #f1f1f1; */
  /* padding: 10px; */
  padding-bottom:15px ;
  text-align: center;
}
/* end of project */
.more{
  width: 80%;
  margin: auto;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  background-color: aliceblue;
}
.more p{
  font-size: 15px;
  font-weight: bold;
}
/*  light and dark mode*/
.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}